<a href="https://colab.research.google.com/github/rishithatirkala-byte/RishithaTirkala-ai-2025-2026-Even-AI-DS-4067/blob/main/03_02_2026.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

#implementation of list
fruits=["apple","banana","cherry"]
print(fruits)
fruits.append("orange")
fruits.insert(1,"mango")
print(fruits)
fruits.remove("banana")
print(fruits)
print(fruits[0])
print("Total fruits:",len(fruits))

['apple', 'banana', 'cherry']
['apple', 'mango', 'banana', 'cherry', 'orange']
['apple', 'mango', 'cherry', 'orange']
apple
Total fruits: 4

In [2]:
#implementation of tuples
fruits=("apple","banana","cherry",1,5)
print(fruits)
print(fruits[0])
print(fruits[2])
print(fruits[-1])
print("Total fruits:",len(fruits))

('apple', 'banana', 'cherry', 1, 5)
apple
cherry
5
Total fruits: 5

In [3]:
#implementation of sets
fruits={"apple","banana","cherry"}
print(fruits)
fruits.add("orange")
fruits.update(["mango","grapes"])
fruits.remove("banana")
print(fruits)
print("Total fruits:", len(fruits))
set1={1,2,3,4,5}
set2={4,5,6,7,8}
#union
print("Union:",set1|set2)
#intersection
print("Intersection:",set1&set2)
#difference
print("Difference:",set1-set2)
#symmetric difference
print("Symmetric Difference:",set1^set2)

{'apple', 'cherry', 'banana'}
{'cherry', 'mango', 'orange', 'grapes', 'apple'}
Total fruits: 5
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference: {1, 2, 3}
Symmetric Difference: {1, 2, 3, 6, 7, 8}

In [4]:
#implementation of dictionaries
student={"Name":"Sara","RollNo":42,"Course":"DS"}
print("Dictionary items:")
for key,value in student.items():
  print(key,":",value)
print("Total keys:",len(student))

Dictionary items:
Name : Sara
RollNo : 42
Course : DS
Total keys: 3