<a href="https://colab.research.google.com/github/rishithatirkala-byte/RishithaTirkala-ai-2025-2026-Even-AI-DS-4067/blob/main/03_02_2026.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

#implementation of list
fruits=["apple","banana","cherry"]
print(fruits)
fruits.append("orange")
fruits.insert(1,"mango")
print(fruits)
fruits.remove("banana")
print(fruits)
print(fruits[0])
print("Total fruits:",len(fruits))

['apple', 'banana', 'cherry']
['apple', 'mango', 'banana', 'cherry', 'orange']
['apple', 'mango', 'cherry', 'orange']
apple
Total fruits: 4

In [ ]:
#implementation of tuples
fruits=("apple","banana","cherry",1,5)
print(fruits)
print(fruits[0])
print(fruits[2])
print(fruits[-1])
print("Total fruits:",len(fruits))

('apple', 'banana', 'cherry', 1, 5)
apple
cherry
5
Total fruits: 5

In [ ]:
#implementation of sets
fruits={"apple","banana","cherry"}
print(fruits)
fruits.add("orange")
fruits.update(["mango","grapes"])
fruits.remove("banana")
print(fruits)
print("Total fruits:", len(fruits))
set1={1,2,3,4,5}
set2={4,5,6,7,8}
#union
print("Union:",set1|set2)
#intersection
print("Intersection:",set1&set2)
#difference
print("Difference:",set1-set2)
#symmetric difference
print("Symmetric Difference:",set1^set2)

{'apple', 'cherry', 'banana'}
{'cherry', 'mango', 'orange', 'grapes', 'apple'}
Total fruits: 5
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference: {1, 2, 3}
Symmetric Difference: {1, 2, 3, 6, 7, 8}

In [ ]:
#implementation of dictionaries
student={"Name":"Sara","RollNo":42,"Course":"DS"}
print("Dictionary items:")
for key,value in student.items():
  print(key,":",value)
print("Total keys:",len(student))

Dictionary items:
Name : Sara
RollNo : 42
Course : DS
Total keys: 3

In [2]:
# Download and save the dataset to local drive
import pandas as pd

# Correct URL of dataset (sample CSV dataset)
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv"

# Read dataset from URL
df = pd.read_csv(url)

# Display first few rows
print(df.head())

# Save dataset to local drive
df.to_csv("iris.csv", index=False)

print("Dataset saved successfully")

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
Dataset saved successfully