<a href="https://colab.research.google.com/github/rishithatirkala-byte/RishithaTirkala-ai-2025-2026-Even-AI-DS-4067/blob/main/datamanipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# data manipulation operations
data = {
    "Name": ['A', 'B', 'C'],
    "Age": [20, 21, 22],
    "Marks": [70, 80, 90]
}

df = pd.DataFrame(data)

print("Original Data:")
print(df)

# adding a new column
df["Bonus"] = 5
print("\nAfter adding bonus:")
print(df)

# increase marks
df["Marks"] = df["Marks"] + 2
print("\nAfter increasing marks:")
print(df)

# create new column from existing columns
df["Total"] = df["Marks"] + df["Bonus"]
print("\nAfter adding total:")
print(df)

# change value
df.loc[0, "Age"] = 21
print("\nAfter changing Age of first student:")
print(df)

# rename column
df.rename(columns={"Total": "Final"}, inplace=True)
print("\nAfter renaming Total to Final:")
print(df)

# remove a column
df.drop("Bonus", axis=1, inplace=True)
print("\nAfter removing Bonus column:")
print(df)

Original Data:
  Name  Age  Marks
0    A   20     70
1    B   21     80
2    C   22     90

After adding bonus:
  Name  Age  Marks  Bonus
0    A   20     70      5
1    B   21     80      5
2    C   22     90      5

After increasing marks:
  Name  Age  Marks  Bonus
0    A   20     72      5
1    B   21     82      5
2    C   22     92      5

After adding total:
  Name  Age  Marks  Bonus  Total
0    A   20     72      5     77
1    B   21     82      5     87
2    C   22     92      5     97

After changing Age of first student:
  Name  Age  Marks  Bonus  Total
0    A   21     72      5     77
1    B   21     82      5     87
2    C   22     92      5     97

After renaming Total to Final:
  Name  Age  Marks  Bonus  Final
0    A   21     72      5     77
1    B   21     82      5     87
2    C   22     92      5     97

After removing Bonus column:
  Name  Age  Marks  Final
0    A   21     72     77
1    B   21     82     87
2    C   22     92     97